.BookItem-thumbnail {
  width: 120px;
  float: left;
}

.BookItem-card {
    height: 250px;
}

.BookItem-card h3 {
    font-size: 13pt;
    font-weight: bold;
}

.BookItem-card h4 {
    font-size: 12pt;
    font-weight: italic;
}

